.transparentBg_edit {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* margin: auto; */
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.closeButton {
  text-align: right;
}
.innerBg_edit {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 10%;
  bottom: auto;
  /* margin: auto; */
  border-radius: 5px;
  /* height: 20%;
  width: 40%; */
  height: auto;
  width: auto;
  /* background: #899da7; */
  background: #e0e0e0;
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  transition: all 0.8s;
}

.text_edit {
  padding-top: 3%;
}

.showStatus_edit {
  color: #a5a1a1;
  font-size: 11px;
  margin-left: 10px;
}
