.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.active {
  background-color: #202224;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: rgba(206, 204, 204, 0.952);
  border-radius: 5px;
}
.makecenter {
  /* position: "absolute"; */
  left: 25%;
}
